.bl_bookmark__form, .bl_bookmark__new--extension__form {
  margin-top: 20px;
  font-family: 'ws-reg';
  color: darkgray;

  label {
    color: gray;
    font-family: 'qs-reg';
    font-weight: bold;
    font-size: rem-calc(16);
  }

  label.topic_label + .help-text {
    color: #444;
    margin-top: 3px;
  }

  input[type="radio"] + label, input[type="text"], input[type="url"] {
    color: #444444;
    font-style: italic;
    font-weight: 100;
  }
}

.bl_bookmark__new--extension {
  .bl_favicon img {
    width: 50px;
    height: 50px;
  }
  &__chrome--icon {
    text-align: center;
    font-size: rem-calc(50);
    color: lighten($primary-color, 10);

    &:hover {
      color: lighten($primary-color, 30);
      cursor: pointer;
    }
  }
}

.bl_bookmark__new, .bl_bookmark__edit, .bl_bookmark__new--extension {
  margin-top: 40px;

  h3 {
    font-family: 'qs-reg';
    color: darkgray;
  }
}

.bl_bookmark__new--extension__form--new_topic--toggle {
  cursor: pointer;
  font-style: italic;
  color: blue;
}

.bl_bookmark__new--extension__form--new_topic--input {
  margin-bottom: 0 !important;
}
