@font-face { // Light
    font-family: 'qs-li';
    src: font-url('Quicksand/Quicksand-Light.ttf') format('truetype');
}

@font-face { // Regular
    font-family: 'qs-reg';
    src: font-url('Quicksand/Quicksand-Regular.ttf') format('truetype');
}

// Worksans
@font-face { // Light
    font-family: 'ws-li';
    src: font-url('Work_Sans/WorkSans-Light.ttf') format('truetype');
}

@font-face { // Regular
    font-family: 'ws-reg';
    src: font-url('Work_Sans/WorkSans-Regular.ttf') format('truetype');
}
