<h1>Bookmark edit</h1>

<%= render "form", topic: @topic, url: topic_path(current_user, @topic) %>

<%= link_to 'Show', topic_path(current_user, @topic) %> |
<%= link_to 'Back', topics_path(current_user) %>
