<p><%= @topic.name %></p>
<p><%= @topic.description if @topic.description.present? %></p>
<p><%= @topic.is_public if @topic.is_public.present? %></p>

<%= link_to "Edit", edit_topic_path(current_user, @topic) %>
