.bl_topics__empty {
  border: 1px solid $primary-color;
  border-radius: 4px;
  text-align: center;
  padding: 20px;

  .bl_tp_empty__lead {
    color: gray;
    font-size: rem-calc(20);
    font-family: 'qs-li';
  }

  .bl_tp_empty__link {
    color: darkgray;
    font-size: rem-calc(14);
    font-family: 'ws-reg';
  }

}
