<%= page_title "About" %>

<div class="row column">
  <h3>About</h3>

  <p>Bloi.co is just simple bookmarking tool at its current state.</p>
  <p>But in the future it is going to be more than just a bookmarking application.</p>
  
</div>
