<%= page_title "Contact" %>

<div class="row columns">
  <h3>Contact</h3>
  <p>you can contact me regarding any quries related to this site at 'naveen@arrc.in' or <a href="http://twitter.com/arrcoder">twitter</a></p>
</div>
